.dropdown {
    position: relative;
    font-family: var(--primary-font-family);
}

.toggle {
    display: flex;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 18px;
    font-size: 12px;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--base-white);
    min-width: 150px;
    top: 35px;
    border: 1px solid var(--primary-color-300);
    border-radius: var(--border-radius-md);
    z-index: 5;
    
}

.menu[data-isopen="true"] {
    display: block;
}

.menuItem {
    display: flex;
    padding: 8px;
    font-size: 12px;

}