.buttonWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.form {
    margin-top: 16px;
}

.heading {
    font-size: 14px;
    font-family: var(--primary-font-family);
    color: var(--text-100);
    margin-bottom: 16px;
}