.label {
    font-family: var(--primary-font-family);
    margin-bottom: 9px;
    display: inline-block;
    font-size: 10px;
    color: var(--text-300);

}

.uploadArea {
    width: 100%;
    border: 1px dashed var(--primary-color);
    padding: 56px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-sm);
    

}

.uploadArea button {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: var(--text-100);
    
}