.button {
    font-family: var(--primary-font-family);
    font-weight: 600;
    border-radius: var(--border-radius-sm);
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}


/* Primary Button Variant */
.button[data-variant="primary"] {
    background: var(--primary-color);
    color: var(--base-white);
}

.button[data-variant="primary"]:hover {
    background: var(--primary-color-100);
}
.button[data-variant="primary"]:active {
    background: var(--primary-color-200);
}

.button[data-variant="primary"]:disabled {
    background: var(--primary-color);
    cursor: default;
    opacity: .4;
}

/* Secondary Button Variant */
.button[data-variant="secondary"] {
    background: var(--base-white);
    border-color: var(--primary-color-400);
    color: var(--text-100);

}

.button[data-variant="secondary"]:hover {
    border-color: var(--primary-color);
}
.button[data-variant="secondary"]:active {
    background: var(--primary-color-50);
    border-color: var(--primary-color);
}

.button[data-variant="secondary"]:disabled {
    border-color: var(--primary-color-400);
    cursor: default;
    opacity: .4;
}


