.form {
    width: 100%;
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.editorWrapper {
    height: 740px;
}

.headingWrapper {
    border-top: 1px solid var(--primary-color-300);
    margin-top: 46px;

}

.inputWrapper {
    border: 1px solid var(--primary-color-300);
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    font-family: var(--primary-font-family);
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}