.editorWrapper {
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor {
  padding: 0px 16px;
  flex-grow: 1;
  outline: none;
  overflow: scroll;


   > div {
    height: 100%;
   
  }

}

.editorCount {
    flex-shrink: 0;
  padding: 6px 16px;
  text-align: right;
  border-top: 1px solid var(--primary-color-300);
  background-color: var(--base-white);
  color: var(--text-500);
  font-size: 10px;
  line-height: 18px;
  font-family: var(--primary-font-family);
}

.toolBarWrapper {
    max-width: max-content;
    margin-left: 16px;
    margin-bottom: 16px;

    
}